<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%- include src/ejs/common/header -%>
    <%- include src/ejs/common/topImage -%>
    <%- include src/ejs/common/list -%>
    <%- include src/ejs/common/footer -%>
    <%- include src/ejs/common/copyright -%>
  </body>
</html>
